<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/viewMovie.css">
</head>
<body>
    <% for(var movie of movieData) { %>
        <div class="main">
            <div class="img">
                <img src="<%=movie.image%>">
            </div>
            <div class="sec-1">
                <div>
                    <h1><%=movie.title%></h1>
                    <p class="plot"><%=movie.plot%></p>
                </div>
                <div>
                    <h2><%=movie.rating%></h2>
                </div>
            </div>
            <a href="/detailView/<%=movie.id %>" class="btn">Read More</a>
        </div> 
        <% } %>
</body>
</html>